<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679970923566-r321m96vbha0007s728i6dneu8c5tr7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679970923566-r321m96vbha0007s728i6dneu8c5tr7o</string>
	<key>API_KEY</key>
	<string>AIzaSyC3x2Mau2t59YxhtXAzUrDZjE4WK6m-aFE</string>
	<key>GCM_SENDER_ID</key>
	<string>679970923566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tradex</string>
	<key>PROJECT_ID</key>
	<string>foreseetestapp</string>
	<key>STORAGE_BUCKET</key>
	<string>foreseetestapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679970923566:ios:754827ffcbf83f1c816bbf</string>
</dict>
</plist>